/* Hide Chat window in sidebar */
.ps.pp,
.T0.pp {
	display: none !important
}

/* Hide Tasks menu item */
.nH.pX {
	display: none !important;
}

/* Hide action buttons at the bottom of pages */
.VP5otc-U4m8q.D.E,
.iE.D.E {
	display: none !important;
}

/* Hide advertising/hints */
.mn[role="contentinfo"] {
	display: none !important;
}

/* Hide copyright and various links*/
.ma {
	display: none !important;
}

/* Hide extra table cells in message views (hides print button, too, sadly...) */
.Bs.nH.iY .Bu + .Bu {
	display: none !important;
}

/* Hide that Gist crap */
.hi {
	display: none !important;
}