[alias]
  branches = branch --all --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:iso)) %(color:blue bold)%(authoremail)' --sort=-committerdate
  changelog = log --format=changelog
  co = checkout
  graph = log --graph --format='format:%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%ae>%Creset'
  last-commit = log -1 HEAD --stat
  l = log
  ll = log --oneline
  ls = log --stat
  mv-branch = branch --move
  rm-branch = branch --delete --force
  s = status
  search = !git rev-list --all | xargs git grep
  undo = reset HEAD~1
  unstage = reset HEAD --
[blame]
  coloring = highlightRecent
  markIgnoredLines = true
  markUnblamableLines = true
  showEmail = true
[branch]
  autoSetupRebase = always
[checkout]
  defaultRemote = origin
[color "blame"]
  highlightRecent = blue,12 month ago,white,1 month ago,yellow
[color "branch"]
  current = white bold
  local = white
  remote = green
[color "diff"]
  commit = yellow bold
  frag = white bold
  func = white bold
  meta = yellow bold
  new = green bold
  old = red bold
  whitespace = red reverse
[color "diff-highlight"]
  newHighlight = green bold 22
  newNormal = green bold
  oldHighlight = red bold 52
  oldNormal = red bold
[color "grep"]
  filename = white
  lineNumber = green bold
[color "interactive"]
  header = yellow bold
  prompt = white bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[commit]
  gpgSign = true
  verbose = true
[core]
  attributesFile = ~/.gitattributes
  autocrlf = input
  excludesFile = ~/.gitignore
  ignoreCase = true
  pager = diff-so-fancy | less
[credential]
  helper = osxkeychain
[diff]
  algorithm = histogram
  colorMoved = dimmed-zebra
  colorMovedWS = allow-indentation-change
[diff "epub"]
  binary = true
  cachetextconv = true
  textconv = pandoc --standalone --from=epub --to=plain
[diff "exif"]
  binary = true
  cachetextconv = true
  textconv = exiftool
[diff "rspec"]
  xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario|background)[ \t].*)$"
[diff "swift"]
  xfuncname = "^[ \t]*((class|func)[ \t].*)$"
[difftool]
  prompt = no
[fetch]
  prune = true
  pruneTags = true
# [gpg "ssh"]
#   allowedSignersFile = ~/.ssh/allowed_signers
#   defaultKeyCommand =
[grep]
  lineNumber = true
  patternType = extended
[help]
  autoCorrect = prompt
[include]
  path = ~/.gitconfig.local
[init]
  defaultBranch = main
[interactive]
  diffFilter = diff-so-fancy --patch
[log]
  date = iso
[merge]
  log = true
  verbosity = 2
[mergetool]
  prompt = no
[pager]
  branch = false
  stash = false
[pretty]
  changelog = "format:* %Cred%h%Creset %s"
[protocol "http"]
  allow = never
[pull]
  rebase = true
[push]
  autoSetupRemote = true
  followTags = true
[stash]
  showIncludeUntracked = true
[status]
  showStash = true
  showUntrackedFiles = all
[tag]
  forceSignAnnotated = true
  gpgSign = true
[url "git@github.com:"]
  pushInsteadOf = https://github.com/
[url "git@gist.github.com:"]
  pushInsteadOf = https://gist.github.com/
[url "git@gitlab.com:"]
  pushInsteadOf = https://gitlab.com/
[user]
  name = Jason Garber
  email = jason@sixtwothree.org
