[branch]
	autoSetupRebase = always
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	frag = magenta bold
	meta = yellow bold
	new = green bold
	old = red bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[commit]
	gpgsign = true
	verbose = true
[core]
	attributesFile = ~/.gitattributes
	editor = atom --wait
	excludesFile = ~/.gitignore
[credential]
	helper = osxkeychain
[diff "rspec"]
	xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario)[ \t].*)$"
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[help]
	autoCorrect = prompt
[init]
	defaultBranch = main
[pager]
	branch = false
[tag]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = github:
	pushInsteadOf = https://github.com/
[url "git@gist.github.com:"]
	insteadOf = gist:
	pushInsteadOf = https://gist.github.com/
[user]
	name = Jason Garber
	email = jason@sixtwothree.org
	signingkey = 58103168713E8E69
