table.chat tr.leave_message td,
table.chat tr.enter_message td,
table.chat tr.kick_message td {
	background-color: rgba( 217, 231, 251, 0.5 );
	color: rgba( 51, 51, 51, 0.5 );
}

#SidebarTop,
.system_message,
#guest_access,
#conference,
#corner_logo {
	display: none;
}

.Left .col,
.Full .col,
.Left .bottom,
.Full .bottom {
	background-image: none;
}