#!/usr/bin/env sh

# Dotfiles - https://github.com/jgarber623/dotfiles
alias dotfiles="cd ${DOTFILES}"

# Homebrew - https://brew.sh
alias brews="brew list"

# Shell built-in commands
alias cp="cp -i"
alias grep="grep --color"
alias history="fc -ir -l 1 | less"
alias l="ls -hlAFG"
alias ll="ls -hlFG"
alias mkdir="mkdir -p"
alias mv="mv -i"
alias type="type -a"
