"*":
  core:
    customFileTypes:
      "source.dotenv": [
        ".env.development"
        ".env.development.local"
        ".env.local"
        ".env.production"
        ".env.production.local"
        ".env.template"
        ".env.test"
        ".env.test.local"
      ]
      "source.gitignore": [
        ".git-blame-ignore-revs"
      ]
      "source.ini": [
        ".npmrc"
      ]
      "source.js": [
        "sequelizerc"
      ]
      "source.json": [
        "brakeman.ignore"
        "json.liquid"
        "webfinger"
        "webmanifest.liquid"
      ]
      "source.nginx": [
        "conf.erb"
        "types"
      ]
      "source.procfile": [
        "Procfile.dev"
      ]
      "source.ruby": [
        "rb.erb"
        "simplecov"
      ]
      "source.ruby.gemfile": [
        "Gemfile.lock"
      ]
      "source.shell": [
        "zsh"
        "zsh-theme"
        "zshrc"
      ]
      "source.yaml": [
        "gemrc"
      ]
      "text.git-commit": [
        "TAG_EDITMSG"
      ]
      "text.html.basic": [
        "webc"
      ]
      "text.html.ruby": [
        "html.erb"
      ]
    disabledPackages: [
      "autosave"
      "background-tips"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-java"
      "language-objective-c"
      "language-perl"
      "welcome"
      "whitespace"
      "language-gfm"
      "link"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    projectHome: "/Users/jason/Developer"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "nord-atom-syntax"
    ]
    titleBar: "custom-inset"
  editor:
    lineHeight: 1.6
    scrollPastEnd: true
    showInvisibles: true
  "exception-reporting":
    userId: "3d796ce0-d3d7-4fbf-ae04-b63388f81926"
  "file-icons":
    coloured: false
    onChanges: true
  "find-and-replace":
    scrollToResultOnLiveSearch: true
    useRipgrep: true
  github:
    viewChangesForCurrentFileDiffPaneSplitDirection: "right"
  linter:
    lintOnChange: false
  "linter-markdown":
    detectIgnore: false
    presetRecommendedWithoutConfig: false
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    panelHeight: 200
    showProviderName: true
    tooltipFollows: "Keyboard"
  "markdown-preview":
    useGitHubStyle: true
  "nord-atom-ui":
    darkerFormFocusEffect: true
  pigments:
    markerType: "native-dot"
    mergeColorDuplicates: true
    sortPaletteColors: "by name"
  tabs:
    enableVcsColoring: true
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
