- name: Tap Homebrew repositories
  homebrew_tap:
    name: "{{ item }}"
  with_items: "{{ homebrew_taps }}"

- name: Install packages with Homebrew
  homebrew:
    name: "{{ item }}"
    state: latest
  with_items: "{{ homebrew_packages }}"
