/*
 * Edit this file and copy it as userChrome.css into your
 * profile-directory/chrome/
 */

/*
 * This file can be used to customize the look of Mozilla's user interface
 * You should consider using !important on rules which you want to
 * override default settings.
 */

/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

/* Hide the favorite button */
#star-button {
	display: none !important;
}

/* Give the status bar some padding */
#status-bar {
	height: 24px !important;
}

#status-bar statusbarpanel + statusbarpanel {
	margin-left: 6px !important;
}

/* Hide some unused context menu items */
menuitem#context-openlink,
menuitem#context-sendpage,
menuitem#context-sendlink,
menuitem#context-sendimage,
menuitem#menu_sendLink,
menuitem#context-setDesktopBackground {
	display: none !important;
}