- name: Install packages with Homebrew
  homebrew:
    name: "{{ item }}"
    state: latest
  with_items: "{{ ruby_homebrew_packages }}"

- name: Create ~/.bundle directory
  file:
    path: ~/.bundle
    state: directory

- name: Link configuration files
  file:
    src: "{{ role_path }}/files/{{ item }}"
    dest: "~/{{ item }}"
    state: link
    force: yes
  with_items: "{{ ruby_linked_files }}"

- name: Write default-gems file
  template:
    src: default-gems.j2
    dest: "~/.rbenv/default-gems"

- name: Install Ruby versions
  command: "rbenv install {{ item }}"
  args:
    creates: "~/.rbenv/versions/{{ item }}"
  with_items: "{{ ruby_versions }}"

- name: Set global Ruby version
  command: "rbenv global {{ ruby_global_version }}"
  changed_when: false
